.notfound {
  background-color: #011627;
  color: #607b96;
  width: 100%;
  position: absolute;
  bottom: 40px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notfound h1 {
  font-size: 130px;
}

.notfound h2 {
  font-size: 40px;
}

.notfound a {
  margin-top: 20px;
  width: 170px;
  padding: 10px;
  border-radius: 8px;
  background: #1c2b3a;
  color: #fff;
  font-family: Fira Code;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}
