@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Lato:wght@400;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@600&family=Raleway&family=Roboto:wght@300;400;700&display=swap");

.footer {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  background-color: #011627;
  height: 40px;
  border-top: 0.1px solid #607b967e;
  border-bottom: 0.1px solid #607b967e;
}

.footer__left {
  display: flex;
  justify-content: center;
}

.footer__left span,
.footer__left a,
.footer__right a {
  border-right: 0.1px solid #607b967e;
  text-decoration: none;
  padding: 10px 20px;
  color: #607b96;
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__right {
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.footer__right a {
  border-right: none;
  border-left: 0.1px solid #607b967e;
}
