.tab {
  display: flex;
  background-color: inherit;
  color: #607b96;
  position: absolute;
  top: 0;
  height: 30px;
  width: 100%;
  border-bottom: 0.1px solid #607b967e;
}

.tab__name {
  padding: 5px 10px;
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tab__cross {
  padding: 7px 10px;
  padding-left: 40px;
  font-size: 16px;
  border-right: 0.1px solid #607b967e;
}

.tab__cross:hover {
  color: #fff;
}

.tab__cross .a {
  color: inherit;
}
