.tab {
  display: flex;
  background-color: inherit;
  color: #607b96;
  position: absolute;
  top: 0;
  right: 0;
  left: 236px;
  height: 30px;
  border-bottom: 0.1px solid #607b967e;
}
.tab__icon {
  padding: 8px 0px;
  padding-left: 10px;
  color: #ff5733;
}

.tab__name {
  padding: 5px 10px;
  padding-left: 5px;
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tab__cross {
  padding: 7px 10px;
  padding-left: 40px;
  font-size: 16px;
  border-right: 0.1px solid #607b967e;
}

.tab__cross:hover {
  color: #fff;
}

.tab__cross .a {
  color: inherit;
}
